/*
=================
fonts
=================
*/

@font-face {
  font-family: "iran-nastaliq";
  src: url("./../fonts/IranNastaliq.ttf") format("truetype");
}

@font-face {
  font-family: "mitra";
  src: url("./../fonts/Far_Mitra.ttf") format("truetype");
}

@font-face {
  font-family: "vazir";
  src: url("./../fonts/Vazir-Medium-FD-WOL.woff2") format("woff2"),
    url("./../fonts/Vazir-Medium-FD-WOL.woff") format("woff"),
    url("./../fonts/Vazir-Medium-FD-WOL.ttf") format("ttf");
}

/*
=================
Variables
=================
*/

:root {
  --clr-primary-1: #2f3e46;
  --clr-primary-2: #354f52;
  --clr-primary-3: #52796f;
  --clr-primary-4: #84a98c;
  --clr-primary-5: #cad2c5;
  --clr-gray-1: #102a42;
  --clr-gray-2: #617d98;
  --clr-gray-3: #f1f5f8;
  --clr-white: #fff;
  --ff-primary: "vazir", "mitra", "iran-nastaliq", sans-serif;
  --transition: all 0.3s linear;
  --radus: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}

/*
=================
Global styles
=================
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  direction: rtl;
  font-family: var(--ff-primary);
  font-weight: lighter;
  font-size: 0.875rem;
  background-color: var(--clr-white);
  color: var(--clr-gray-1);
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-gray-2);
}

@media screen and (min-width: 800px) {
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
  
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }
}
